.jumbotron {
  text-align: center;
  background-color: #e6e6e6;
  height: 250px;
  padding: 40px 20px;
}

.background {
  background-image: url(https://images.unsplash.com/photo-1595341888016-a392ef81b7de?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTZ8fHNuZWFrZXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  color: #fff;
}

.container {
  text-align: center;
}
